//- Connect mixins
include ../../common/section-title/section-title.pug

-
    var skillsCurrent = [
        {
            skillImg: "img/skills/current/html.png",
            skillName: "HTML5"
        },
        {
            skillImg: "img/skills/current/css.png",
            skillName: "CSS"
        },
        {
            skillImg: "img/skills/current/sass.png",
            skillName: "SASS"
        },
        {
            skillImg: "img/skills/current/js.png",
            skillName: "JAVASCRIPT"
        },
        {
            skillImg: "img/skills/current/ts.png",
            skillName: "TYPESCRIPT"
        },
        {
            skillImg: "img/skills/current/react.png",
            skillName: "REACT"
        },
        {
            skillImg: "img/skills/current/git.png",
            skillName: "GIT"
        },
        {
            skillImg: "img/skills/current/figma.png",
            skillName: "FIGMA"
        }]

-
    var skillsLearning = [
        {
            skillImg: "img/skills/learning/nodejs.png",
            skillName: "Node JS"
        },
        {
            skillImg: "img/skills/learning/mongodb.png",
            skillName: "MongoDB"
        },
        {
            skillImg: "img/skills/learning/mysql.png",
            skillName: "MySQL"
        }]

-
    var skillsOther = [
        {
            skillImg: "img/skills/other/english.png",
            skillName: "English C1"
        },
        {
            skillImg: "img/skills/other/spanish.png",
            skillName: "Spanish B2"
        }]

section.skills(id="skills-section")
    div.skills__container
        div.skills__content
            +section-title("Skills")
            div.skills__skills-row(class="skills__skills-row--current")
                h3.skills__skills-title USING NOW:
                div.skills__skills-wrapper
                    each skill in skillsCurrent
                        div.skills__skill
                            img.skills__skill-img(src=skill.skillImg, alt=skill.skillName)
                            div.skills__skill-name=skill.skillName
            div.skills__skills-row(class="skills__skills-row--learning")
                h3.skills__skills-title LEARNING:
                div.skills__skills-wrapper
                    each skill in skillsLearning
                        div.skills__skill
                            img.skills__skill-img(src=skill.skillImg, alt=skill.skillName)
                            div.skills__skill-name=skill.skillName
            div.skills__skills-row(class="skills__skills-row--other")
                h3.skills__skills-title OTHER SKILLS:
                div.skills__skills-wrapper
                    each skill in skillsOther
                        div.skills__skill
                            img.skills__skill-img(src=skill.skillImg, alt=skill.skillName)
                            div.skills__skill-name=skill.skillName
